.col-md-4 + .col-md-4, {
  padding: 0 !important;
}

.noPadding {
  padding: 0 !important;
}

.preco {
    background-color:#0055FF;
    padding:0.5em;
    font-size: 1.2em;
    color:azure;
    border-radius:0.5em;
    float:right
}